.heart {
    display: block;
    margin: 0 auto; /* Isso centralizará a imagem horizontalmente */
    max-width: 120px; /* Aumentando o tamanho máximo da imagem */
    width: 100%; /* Fazendo a imagem ocupar 100% da largura do contêiner */
    height: auto; /* Garantindo que a altura seja ajustada proporcionalmente à largura */
    animation: pulse 1s infinite alternate; /* Adicionando animação de pulso */
}

@keyframes pulse {
    0% { transform: scale(0.9); }
    100% { transform: scale(1.1); }
}
