.heart {
    display: block;
    margin: 0 auto; /* Isso centralizará a imagem horizontalmente */
    max-width: 100%; /* Isso garantirá que a imagem não ultrapasse o contêiner */
}

.poem {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}
